<div class="row center-xs">
  <div class="col-xs-10 col-md-10">
	     <div class="box text-left"> 		
  			<div class="col-md-10">
  				<p>Oferta de empleo:</p>
   	           <form>
      	          <input class="form-control" type="search" placeholder="Buscar empleo" aria-label="Buscar"><br>
                  <div class="box text-right">
              <button type="button" class="btn white">Buscar</button>
            </form><br><hr>
        </div>
      </div>
  </div>
</div>

