<%= form_for([@empresa, @perfilempresa]) do |form| %>
  <% if perfilempresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(perfilempresa.errors.count, "error") %> prohibited this perfilempresa from being saved:</h2>

      <ul>
      <% perfilempresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
